<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
    <meta charset="UTF-8">
    <title>Prometheus</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
</head>
<body>
    <div class="centered">
        <h3>CurveStats</h3>
        <div>The current almighty superior dildo is {{ranks[0][0]}}!</div><br />
        <table>
            {% for el in ranks %}
                <tr>
                    {% if el == ranks[0] %}
                        <td><span class="leader"><b>{{ el[0] }}: </b></span></td>
                        <td>{{ el[1] }}</td>
                        {% if el[2] < 0 %}
                            <td style="color: red">{{ el[2] }}</td>
                        {% else %}
                            <td style="color: green">{{ el[2] }}</td>
                        {% endif %}
                    {% elif el == ranks[-1] %}
                        <td><span class="looser"><b>{{ el[0] }}: </b></span></td>
                        <td>{{ el[1] }}</td>
                        {% if el[2] < 0 %}
                            <td style="color: red">{{ el[2] }}</td>
                        {% else %}
                            <td style="color: green">{{ el[2] }}</td>
                        {% endif %}
                    {% else %}
                        <td><b>{{ el[0] }}: </b></td>
                        <td>{{ el[1] }}</td>
                        {% if el[2] < 0 %}
                            <td style="color: red">{{ el[2] }}</td>
                        {% else %}
                            <td style="color: green">{{ el[2] }}</td>
                        {% endif %}
                    {% endif %}
                </tr>
            {% endfor %}
        </table>
    </div>
</body>
</html>
{% endautoescape %}