body {
  font-family: Verdana, Helvetica, sans-serif;
  background-color: #DDDDDD;
}

.centered {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.leader {
    color: green;
}

.looser {
    color: red;
}